body{
  font-family: 'Sanchez', serif;
  text-align:center;
  width:100%;
}

.quote-background{
    height: 600px;  
    text-align: center;
    background: url('http://wallpapercave.com/wp/jWMHXIA.jpg') no-repeat center center fixed;
    background-size: cover;
}

@media only screen and (max-width: 640px) {
  /* Add your custom styles here for Mobile */
  h1 {font-size:2.5px;font-weight:200px;}
}
@media only screen and (max-width: 480px) {
  /* Add your custom styles here for smaller Mobile */
  h1 {font-size:2em;font-weight:200px;}
}
